In [1]:
import pandas as pd
import os

In [2]:
source_csv = "hotels-properties-citywide-1.csv"

In [3]:
hotels_df = pd.read_csv(source_csv)

In [4]:
hotels_df.head()

,PARID,BOROCODE,BLOCK,LOT,TAXYEAR,STREET NUMBER,STREET NAME,Postcode,BLDG_CLASS,TAXCLASS,OWNER_NAME,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1000080039,1,8,39,2021,32,PEARL STREET,10004,H3,4,"32 PEARL, LLC",MANHATTAN,40.703235,-74.012421,101.0,1.0,9.0,1078968.0,1.000080e+09,Battery Park City-Lower Manhattan
1,1000080051,1,8,51,2021,6,WATER STREET,10004,H2,4,AI IV LLC,MANHATTAN,40.702744,-74.012201,101.0,1.0,9.0,1090472.0,1.000080e+09,Battery Park City-Lower Manhattan
2,1000100033,1,10,33,2021,8,STONE STREET,10004,H2,4,"B.H. 8 STONE STREET AG, LLC",MANHATTAN,40.704025,-74.012638,101.0,1.0,9.0,1087618.0,1.000100e+09,Battery Park City-Lower Manhattan
3,1000110029,1,11,29,2021,11,STONE STREET,10004,H2,4,"PREMIER EMERALD, LLC",MANHATTAN,40.704039,-74.012317,101.0,1.0,9.0,1000041.0,1.000110e+09,Battery Park City-Lower Manhattan
4,1000161301,1,16,1301,2021,102,NORTH END AVENUE,10282,RH,4,GOLDMAN SACHS,MANHATTAN,40.714812,-74.016153,101.0,1.0,31703.0,1085867.0,1.000168e+09,Battery Park City-Lower Manhattan

In [5]:
hotels_df['Street_Address'] = hotels_df['STREET NUMBER'].str.cat(hotels_df['STREET NAME'],sep=" ")
hotels_df

,PARID,BOROCODE,BLOCK,LOT,TAXYEAR,STREET NUMBER,STREET NAME,Postcode,BLDG_CLASS,TAXCLASS,...,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Street_Address
0,1000080039,1,8,39,2021,32,PEARL STREET,10004,H3,4,...,MANHATTAN,40.703235,-74.012421,101.0,1.0,9.0,1078968.0,1.000080e+09,Battery Park City-Lower Manhattan,32 PEARL STREET
1,1000080051,1,8,51,2021,6,WATER STREET,10004,H2,4,...,MANHATTAN,40.702744,-74.012201,101.0,1.0,9.0,1090472.0,1.000080e+09,Battery Park City-Lower Manhattan,6 WATER STREET
2,1000100033,1,10,33,2021,8,STONE STREET,10004,H2,4,...,MANHATTAN,40.704025,-74.012638,101.0,1.0,9.0,1087618.0,1.000100e+09,Battery Park City-Lower Manhattan,8 STONE STREET
3,1000110029,1,11,29,2021,11,STONE STREET,10004,H2,4,...,MANHATTAN,40.704039,-74.012317,101.0,1.0,9.0,1000041.0,1.000110e+09,Battery Park City-Lower Manhattan,11 STONE STREET
4,1000161301,1,16,1301,2021,102,NORTH END AVENUE,10282,RH,4,...,MANHATTAN,40.714812,-74.016153,101.0,1.0,31703.0,1085867.0,1.000168e+09,Battery Park City-Lower Manhattan,102 NORTH END AVENUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,5038750026,5,3875,26,2021,630,MIDLAND AVENUE,10306,H4,4,...,STATEN IS,40.571192,-74.091057,502.0,50.0,11202.0,5055032.0,5.038750e+09,New Dorp-Midland Beach,630 MIDLAND AVENUE
2727,5066680094,5,6668,94,2021,51,WILBUR STREET,10309,H4,4,...,STATEN IS,40.515283,-74.194552,503.0,51.0,198.0,5082754.0,5.066680e+09,Annadale-Huguenot-Prince's Bay-Eltingville,51 WILBUR STREET
2728,5070670090,5,7067,90,2021,39,ST LUKES AVENUE,10309,HB,4,...,STATEN IS,40.553824,-74.216904,503.0,51.0,20801.0,5086591.0,5.070670e+09,Rossville-Woodrow,39 ST LUKES AVENUE
2729,5073650001,5,7365,1,2021,2600,VETERANS ROAD WEST,10309,H4,4,...,STATEN IS,40.533481,-74.224756,503.0,51.0,226.0,5086844.0,5.073650e+09,Charleston-Richmond Valley-Tottenville,2600 VETERANS ROAD WEST
2730,5075840099,5,7584,99,2021,110,SOUTH BRIDGE STREET,10309,H4,4,...,STATEN IS,40.525055,-74.237788,503.0,51.0,226.0,NaN,NaN,Charleston-Richmond Valley-Tottenville,110 SOUTH BRIDGE STREET

In [8]:
hotels_df = hotels_df.drop(['STREET NUMBER', 'STREET NAME', 'BLOCK', 'LOT', 'TAXYEAR', 'BLDG_CLASS', 'TAXCLASS', 'OWNER_NAME', 'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL'], 1)
hotels_df

,PARID,BOROCODE,Postcode,Borough,Latitude,Longitude,NTA,Street_Address
0,1000080039,1,10004,MANHATTAN,40.703235,-74.012421,Battery Park City-Lower Manhattan,32 PEARL STREET
1,1000080051,1,10004,MANHATTAN,40.702744,-74.012201,Battery Park City-Lower Manhattan,6 WATER STREET
2,1000100033,1,10004,MANHATTAN,40.704025,-74.012638,Battery Park City-Lower Manhattan,8 STONE STREET
3,1000110029,1,10004,MANHATTAN,40.704039,-74.012317,Battery Park City-Lower Manhattan,11 STONE STREET
4,1000161301,1,10282,MANHATTAN,40.714812,-74.016153,Battery Park City-Lower Manhattan,102 NORTH END AVENUE
...,...,...,...,...,...,...,...,...
2726,5038750026,5,10306,STATEN IS,40.571192,-74.091057,New Dorp-Midland Beach,630 MIDLAND AVENUE
2727,5066680094,5,10309,STATEN IS,40.515283,-74.194552,Annadale-Huguenot-Prince's Bay-Eltingville,51 WILBUR STREET
2728,5070670090,5,10309,STATEN IS,40.553824,-74.216904,Rossville-Woodrow,39 ST LUKES AVENUE
2729,5073650001,5,10309,STATEN IS,40.533481,-74.224756,Charleston-Richmond Valley-Tottenville,2600 VETERANS ROAD WEST
2730,5075840099,5,10309,STATEN IS,40.525055,-74.237788,Charleston-Richmond Valley-Tottenville,110 SOUTH BRIDGE STREET

In [9]:
hotels_df.to_csv('Hotels_Transformed.csv', index=False)