In [1]:
import requests

In [2]:
API_KEY = ""
url = "https://api.yelp.com/v3/businesses/search"

In [3]:
DEFAULT_TERM = "restaurants"
DEFAULT_LOCATION = "New York City NY"
SORT = "rating"
LIMIT = "50"
OFFSET = "950"

In [4]:
headers = {'Authorization': 'Bearer {}'.format(API_KEY)}

In [5]:
url_params = {
'term': DEFAULT_TERM, 
'location': DEFAULT_LOCATION, 
'sort_by': SORT,
'limit':LIMIT,
'offset':OFFSET
}

In [6]:
response = requests.request('GET', url, headers=headers, params=url_params)

In [7]:
name = []
rating = []
reviews = []
address = []
zip_code = []
url = []
lat = []
lng = []
for business in response.json()["businesses"]:
        name.append(business["name"])
        rating.append(business["rating"])
        reviews.append(business["review_count"])
        address.append(business["location"]["display_address"][0])
        zip_code.append(business["location"]["zip_code"])
        url.append(business["url"])
        lat.append(business["coordinates"]["latitude"])
        lng.append(business["coordinates"]["longitude"])

In [8]:
data = {"Name":name,"Rating":rating,"Review Count":reviews,"Street Address":address,
       "Zip Code":zip_code,"Url":url,"Latitude":lat,"Longitude":lng}

In [9]:
import pandas as pd
df = pd.DataFrame(data)

In [10]:
df.to_csv("../951-1000-restaurants.csv")

In [11]:
df1 = pd.read_csv("../951-1000-restaurants.csv")
df2 = pd.read_csv("../901-950-restaurants.csv")
df3 = pd.read_csv("../851-900-restaurants.csv")
df4 = pd.read_csv("../801-850-restaurants.csv")
df5 = pd.read_csv("../751-800-restaurants.csv")
df6 = pd.read_csv("../701-750-restaurants.csv")
df7 = pd.read_csv("../651-700-restaurants.csv")
df8 = pd.read_csv("../601-650-restaurants.csv")
df9 = pd.read_csv("../551-600-restaurants.csv")
df10 = pd.read_csv("../501-550-restaurants.csv")
df11= pd.read_csv("../451-500-restaurants.csv")
df12= pd.read_csv("../401-450-restaurants.csv")
df13= pd.read_csv("../351-400-restaurants.csv")
df14= pd.read_csv("../301-350-restaurants.csv")
df15= pd.read_csv("../251-300-restaurants.csv")
df16= pd.read_csv("../201-250-restaurants.csv")
df17= pd.read_csv("../151-200-restaurants.csv")
df18= pd.read_csv("../101-150-restaurants.csv")
df19= pd.read_csv("../51-100-restaurants.csv")
df20= pd.read_csv("../0-50-restaurants.csv")

In [12]:
df_all = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, 
                df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20])
df_all.head()

,Unnamed: 0,Name,Rating,Review Count,Street Address,Zip Code,Url,Latitude,Longitude,Alias
0,0,Jun-Men Ramen Bar,4.0,620,249 9th Ave,10001,https://www.yelp.com/biz/jun-men-ramen-bar-new...,40.748209,-74.000470,NaN
1,1,Fuyu Ramen,4.5,123,4617 Queens Blvd,11104,https://www.yelp.com/biz/fuyu-ramen-sunnyside-...,40.743478,-73.918057,NaN
2,2,Kesté Pizza & Vino,4.0,1406,271 Bleecker St,10014,https://www.yelp.com/biz/kest%C3%A9-pizza-and-...,40.731540,-74.002930,NaN
3,3,Ashoka on 2nd Avenue,4.5,144,1718 2nd Ave,10128,https://www.yelp.com/biz/ashoka-on-2nd-avenue-...,40.779855,-73.950090,NaN
4,4,Craft House,4.5,330,60 Vanduzer St,10301,https://www.yelp.com/biz/craft-house-tompkinsv...,40.636373,-74.077543,NaN

In [13]:
df_all.to_csv("../all-restaurants.csv")